doctype

include mixins.jade

html
    head
        meta(charset="utf-8")
        title= 'Group Hub - API Documentation'
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        style!= self.css
    body.preload
        a.text-muted.back-to-top(href='#top')
            i.fa.fa-toggle-up
            | &nbsp;Back to top
        div(class=self.fullWidth ? 'container-fluid' : 'container')
            .row
                block nav
                    +Nav(false)

                .content
                    block content
                        +Content('primary', false)

        p.text-muted(style="text-align: center;")
            | &copy; #{self.date().format('YYYY')}&nbsp;
            a.aglio(href="https://www.grouphub.co.uk") Group Hub Limited
            br
            | Generated on #{self.date().format('DD MMM YYYY')}

        script: include scripts.js
